@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}

p{
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.5;
    text-indent: 3em;
}
a{
    font-weight: 700;
    text-decoration: none;
}

#button:link{
    background-color:  #e63946;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#button:visited{
    background-color:  #457b9d;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#button:hover, #button:active{
    background-color: #778da9;
}

.main-font{
    color: #000000;
    font-weight: 700;
}

.secondary{
    color: #000000;
    font-weight: 500;
}

.link-bawah {
    text-align: center;
}